
:root {
  --primary-color: #D2302C;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --black80-color: #131313;
  --gray-color: #D9D9D9;
  --placeholder-color: #A9A9AC;

  --secondary-color: #6c757d;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
}
